.file-info {
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  margin-top: 0.125rem;
}

.header {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
}

.name,
.file-info .name,
.header .name {
  flex: 3;
}

.icon,
.file-info .icon,
.header .icon {
  flex: 0;
  max-height: 1.5rem;
  min-width: 3.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.align-right {
  text-align: end;
  padding-right: .5rem;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

form button {
  margin-top: .5rem;
  flex: 0;
}

video {
  margin-top: 2rem;
  width: 100%;
}

svg {
  height: 1.5rem;
  cursor: pointer;
}

  .file-info > *,
  .header > * {
    flex: 1;
  }

  .file-info .name {
    font-weight: 500;
    font-style: italic;
  }

  .file-info .icon path,
  .file-info .icon polygon {
    fill: dimgrey;
  }

  .file-info .icon svg:hover path,
  .file-info .icon svg:hover polygon {
    fill: lightslategray;
  }

  .file-info .icon .icon-play path {
    fill: none;
    stroke: dimgray;
  }

  .file-info .icon svg.icon-play:hover path {
    fill: none;
    stroke: lightslategray;
  }
